.header{
    display: flex;
    flex-direction: column;

    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
.tableContainer{
    width: 70%;
    margin-right: auto;
    margin-left: auto;

}