.header{
    display: flex;
    flex-direction: column;

    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
.tableContainer{
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;

}