.toolbar{
    display:flex;
    justify-content:space-between;

}
.imgBlock{
    overflow: hidden;

    width: 36px;
    height: 36px;
    margin-left: 15px;

    object-fit: cover;

}
.imgBlock img{
    width: 100%;
    height: 100%;
}
.userInfoBlock{
    display: flex;
    flex-direction: row;
}