.pageContainer{
    width: 100%;
}
.btnPanel {
    display: flex;
    align-self: flex-start;

    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
.tableContainer {
    width: 70%;
    max-height: 70vh;
    margin: 0 auto;
}
.pagination {
    margin-top: 20px;
}